<h1>My Registered Information</h1>

<div ng-if="customerCtrl.saved">
    <h3>Welcome {{customerCtrl.customer.firstName}}</h3>
    <dl class="dl-horizontal">
        <dt>First Name</dt>
        <dd>{{customerCtrl.customer.firstName}}</dd>
        <dt>Last Name</dt>
        <dd>{{customerCtrl.customer.lastName}}</dd>
        <dt>Email</dt>
        <dd>{{customerCtrl.customer.email}}</dd>
        <dt>Phone</dt>
        <dd>{{customerCtrl.customer.phoneNumber}}</dd>
        <dt>Favorite Dish</dt>
        <dd>{{customerCtrl.customer.favoriteDish}}</dd>
        <menu-item menu-item="customerCtrl.customer.MenuItem"></menu-item>
    </dl>
</div>

<div class="alert alert-warning" ng-if="!customerCtrl.saved">
    <h2>You have not signed up yet</h2>
    <a ui-sref="public.signup">Not Signed Up Yet. Sign up Now!</a>
</div>
