<div class="signup">
    <h1>Sign Up</h1>

    <form name="signUpForm" novalidate>
        <div class="form-group">
            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Enter Your First Name" ng-model="signupCtrl.customer.firstName" required minlength="1"/>
        </div>

        <div class="form-group">
            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Enter Your Last Name" ng-model="signupCtrl.customer.lastName" required minlength="1"/>
        </div>

        <div class="form-group">
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email ex)test@gmail.com" ng-model="signupCtrl.customer.email" required minlength="5"/>
        </div>

        <div class="form-group">
            <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber" ng-model="signupCtrl.customer.phoneNumber" placeholder="Enter Your Phone Number ex)222-333-4444" pattern="(\d{3})-(\d{3})-(\d{4})" required minlength="12"/>
        </div>

        <div class="form-group">
            <input type="text" class="form-control" id="favoriteDish" name="favoriteDish" placeholder="Enter the Short Name of Your Favorite Dish ex)L16" ng-model="signupCtrl.customer.favoriteDish" ng-blur="signupCtrl.validateShortName()" required minlength="1"/>
            <p ng-if="signupCtrl.dishSearched && !signupCtrl.validShortName" class="alert alert-warning">Please enter a valid short name</p>
        </div>

        <br />
        <button class="btn btn-success" ng-disabled="signUpForm.$invalid || !signupCtrl.validShortName || signupCtrl.saved" ng-click="signupCtrl.saveCustomer()">Submit</button>
    </form>

    <br />

    <div ng-if="signupCtrl.saved">
        <p class="alert alert-success">Your information has been saved</p>
    </div>

    <div ng-if="!signupCtrl.saved && signupCtrl.saveAttempted">
        <p class="alert alert-danger">Your information has been not saved. Please try again</p>
    </div>
</div>
